<!-- とりあえずPusherを動かしてみる -->
<!-- Pusherのjsファイルを読み込む -->
<script src="http://js.pusher.com/1.12/pusher.min.js"></script>
<!-- 参考  http://ig-partners.co.jp/takumi/index.php/archives/72 -->
<script>
  $(function(){
    var pusher  = new Pusher("3d85936b294d0945384b");
    var channel = pusher.subscribe("test_channel");
    // Push 通知を受け取ったら実行
    channel.bind("test_event", function(html) {
        $('#output_text').html(html + $('#output_text').html());
    });
  });
  $(document).ready(function(){
    $("#post").click(function(){
      $.ajax({
        type: "POST",
        url: "/pusher/create",
        data: "text="+$('#post_text').val(),
        success: function(push) {}
      });
    });
  })
</script>
<input type="text" id="post_text" />
<input type="button" id="post" value="送信"></input>
<div id="output_text"></div>
